<div id='spell3'>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
					<th>
						<td></td>
						<td></td>
						<td></td>
					</th>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<canvas class='spell3Chart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
</div>

