<script>
const cubeUpLabels = new Array(1000);
for(var i = 1;i < 1000;i++){
	cubeUpLabels[i] = String(i);
}

var cubeUpData = {
	labels: cubeUpLabels,
	datasets:[{
		label: '',
		data:0,
	}]
};

// red
var RERedDataset = {
	label: 'red',
	data: dataRedRE,
};

var RERedMDataset = {
	label: 'red m',
	data: dataRedREM,
};

var EURedDataset = {
	label: 'red',
	data: dataRedEU,
	backgroundColor: 'rgb(255,17,17)',
};

var EURedMDataset = {
	label: 'red m',
	data: dataRedEUM,
	backgroundColor: 'rgb(255,17,17)',
	borderColor: 'rgb(17,17,255)',
};

var ULRedDataset = {
	label: 'red',
	data: dataRedUL,
	backgroundColor: 'rgb(255,17,17)',
};

var ULRedMDataset = {
	label: 'red m',
	data: dataRedULM,
	backgroundColor: 'rgb(255,17,17)',
	borderColor: 'rgb(17,17,255)',
};

//black
var REBlackDataset = {
	label: 'black',
	data: dataBlackRE,
	backgroundColor: 'rgb(20,20,20)',
};

var REBlackMDataset = {
	label: 'black m',
	data: dataBlackREM,
	backgroundColor: 'rgb(20,20,20)',
	borderColor: 'rgb(17,17,255)',
};

var EUBlackDataset = {
	label: 'black',
	data: dataBlackEU,
	backgroundColor: 'rgb(20,20,20)',
};

var EUBlackMDataset = {
	label: 'black m',
	data: dataBlackEUM,
	backgroundColor: 'rgb(20,20,20)',
        borderColor: 'rgb(17,17,255)',
};

var ULBlackDataset = {
	label: 'black',
	data: dataBlackUL,
	backgroundColor: 'rgb(20,20,20)',
};

var ULBlackMDataset = {
	label: 'black m',
	data: dataBlackULM,
	backgroundColor: 'rgb(20,20,20)',
        borderColor: 'rgb(17,17,255)',
};

//additional
var REAdditionalDataset = {
	label: 'additional',
	data: dataAdditionalRE,
	backgroundColor: 'rgb(136,221,0)',
};

var REAdditionalMDataset = {
	label: 'additional m',
	data: dataAdditionalREM,
	backgroundColor: 'rgb(136,221,0)',
	borderColor: 'rgb(17,17,255)',
};

var EUAdditionalDataset = {
	label: 'additional',
	data: dataAdditionalEU,
	backgroundColor: 'rgb(136,221,0)',
};

var EUAdditionalMDataset = {
	label: 'additional m',
	data: dataAdditionalEUM,
	backgroundColor: 'rgb(136,221,0)',
        borderColor: 'rgb(17,17,255)',
};

var ULAdditionalDataset = {
	label: 'additional',
	data: dataAdditionalUL,
	backgroundColor: 'rgb(136,221,0)',
};

var ULAdditionalMDataset = {
	label: 'additional m',
	data: dataAdditionalULM,
	backgroundColor: 'rgb(136,221,0)',
        borderColor: 'rgb(17,17,255)',
};

//questionable
var REQuestionableDataset = {
	label: 'questionable',
	data: dataQuestionableRE,
	backgroundColor: 'rgb(170,102,51)',
};

var REQuestionableMDataset = {
	label: 'questionable m',
	data: dataQuestionableREM,
	backgroundColor: 'rgb(170,102,51)',
	borderColor: 'rgb(17,17,255)',
};

//expert
var REExpertDataset = {
	label: 'expert',
	data: dataExpertRE,
	backgroundColor: 'rgb(102,119,153)',
};

var REExpertMDataset = {
	label: 'expert m',
	data: dataExpertREM,
	backgroundColor: 'rgb(102,119,153)',
	borderColor: 'rgb(17,17,255)',
};

var EUExpertDataset = {
	label: 'expert',
	data: dataExpertEU,
	backgroundColor: 'rgb(102,119,153)',
};

var EUExpertMDataset = {
	label: 'expert m',
	data: dataExpertEUM,
	backgroundColor: 'rgb(102,119,153)',
        borderColor: 'rgb(17,17,255)',
};

//master
var REMasterDataset = {
	label: 'master',
	data: dataMasterRE,
	backgroundColor: 'rgb(85,51,170)',
};

var REMasterMDataset = {
	label: 'master m',
	data: dataMasterREM,
	backgroundColor: 'rgb(85,51,170)',
	borderColor: 'rgb(17,17,255)',
};

var EUMasterDataset = {
	label: 'master',
	data: dataMasterEU,
	backgroundColor: 'rgb(85,51,170)',
};

var EUMasterMDataset = {
	label: 'master m',
	data: dataMasterEUM,
	backgroundColor: 'rgb(85,51,170)',
        borderColor: 'rgb(17,17,255)',
};

var ULMasterDataset = {
	label: 'master',
	data: dataMasterUL,
	backgroundColor: 'rgb(85,51,170)',
};

var ULMasterMDataset = {
	label: 'master m',
	data: dataMasterULM,
	backgroundColor: 'rgb(85,51,170)',
        borderColor: 'rgb(17,17,255)',
};

const cubeUpConfig = {
	type: 'bubble',
	data: cubeUpData,
	options: {
		interaction: { mode: 'index' },
		onHover: function (e) {
			const points = this.getElementsAtEventForMode(
				e,
				'index', { axis: 'x', intersect: true },
				false
			);

			if(points.length) e.native.target.style.cursor = 'pointer';
			else e.native.target.style.cursor = 'defalut';
		},	//chart value in the one tooltip on hover
		responsive: true,
		plugins: {
			legend: {
				position: 'top',
			},
			title: {
				display: true,
				text: 'Custom Chart Title'
			}
		},
		scaleLabel: {
			display: true,
			padding: 5,
			fontColor: '#555759',
			fontSize: 10,
			fontStyle: 700,
			labelString: 'Genres'
		}
	}
};

var myChart2 = new Chart(
	document.getElementById('cubeUpChart'),
	cubeUpConfig
);

</script>
