<div class='readme'>
	<div class='details'>
		<div class='data'>
			<div class='header'><h2>메이플 확률 데이터 시각화</h2></div>
			<table>
				<thead>
					<th>정보</th>
				</thead>
				<tbody>
					<tr><td style='text-align:left;'>- 메이플스토리 확률 검증 데이터는 메이플스토리 공식 홈페이지에서 가져왔습니다.
					</td></tr>
					<tr><td style='text-align:left;'>- 2022.04.14 데이터만 가져왔습니다.
					</td></tr>
					<tr><td style='text-align:left;'>- 메이플스토리 공식 홈페이지 확률 검증 데이터가 업데이트된다면 아래 e-mail로 알려주세요.
					</td></tr>
					<tr><td style='text-align:left;'>- 메이플스토리 공식 홈페이지에서 가져온 확률을 자체적으로 확률을 성공할 때까지 100번 시뮬레이션 했습니다.
					</td></tr>
					<tr><td style='text-align:left;'>- 시뮬레이션을 할 때 계산을 하는 과정에서 약간의 시간이 걸릴 수 있습니다.
					</td></tr>
					<tr><td style='text-align:left;'>- 시뮬레이션을 할 때마다 시뮬레이션 결과값이 달라집니다.
					</td></tr>
					<tr><td style='text-align:left;'>- 시뮬레이션을 통해 확률의 대략적인 평균값을 알 수 있습니다.
					</td></tr>
					<tr><td style='text-align:left;'>- 시뮬레이션 결과를 시각적으로 표현하였습니다.
					</td></tr>
					<tr><td style='text-align:left;'>- 잘못된 부분이 있으면 아래 e-mail로 바로 문의 남겨주세요. 빠른 시일 내에 확인 후 수정하겠습니다.
					</td></tr>
				</tbody>
			</table>
			<table>
				<thead>
					<th>문의</th>
				</thead>
				<tbody>
					<tr><td style='text-align:left;'>- mapledataconnect@gmail.com</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
