<script>
const labels = new Array(1000);
const RElabels = new Array(1000);
for(var i = 1;i < 1000-1;i++){
	labels[i] = String(i);
	RElabels[i] = String(i);
}

var data = {
  labels: labels,
  datasets:[{
	label: '',
  	data:0,
  }]
};

var REdataset = {
	label: 'questionable cube',
	data: dataQuestionableRE,
};
var REMdataset = {
	label: 'questionable cube M',
	data: dataQuestionableREM,
};

// red
var RERedDataset = {
	label: 'red',
	data: dataRedRE,
};

var RERedMDataset = {
	label: 'red m',
	data: dataRedREM,
};

var EURedDataset = {
	label: 'red',
	data: dataRedEU,
};

var EURedMDataset = {
	label: 'red m',
	data: dataRedEUM,
};

var ULRedDataset = {
	label: 'red',
	data: dataRedUL,
};

var ULRedMDataset = {
	label: 'red m',
	data: dataRedULM,
};

//black
var REBlackDataset = {
	label: 'black',
	data: dataBlackRE,
};

var REBlackMDataset = {
	label: 'black m',
	data: dataBlackREM,
};

var EUBlackDataset = {
	label: 'black',
	data: dataBlackEU,
};

var EUBlackMDataset = {
	label: 'black m',
	data: dataBlackEUM,
};

var ULBlackDataset = {
	label: 'black',
	data: dataBlackUL,
};

var ULBlackMDataset = {
	label: 'black m',
	data: dataBlackULM,
};

//additional
var REAdditionalDataset = {
	label: 'additional',
	data: dataAdditionalRE,
};

var REAdditionalMDataset = {
	label: 'additional m',
	data: dataAdditionalREM,
};

var EUAdditionalDataset = {
	label: 'additional',
	data: dataAdditionalEU,
};

var EUAdditionalMDataset = {
	label: 'additional m',
	data: dataAdditionalEUM,
};

var ULAdditionalDataset = {
	label: 'additional',
	data: dataAdditionalUL,
};

var ULAdditionalMDataset = {
	label: 'additional m',
	data: dataAdditionalULM,
};

//questionable
var REQuestionableDataset = {
	label: 'questionable',
	data: dataQuestionableRE,
};

var REQuestionableMDataset = {
	label: 'questionable m',
	data: dataQuestionableREM,
};

//expert
var REExpertDataset = {
	label: 'expert',
	data: dataExpertRE,
};

var REExpertMDataset = {
	label: 'expert m',
	data: dataExpertREM,
};

var EUExpertDataset = {
	label: 'expert',
	data: dataExpertEU,
};

var EUExpertMDataset = {
	label: 'expert m',
	data: dataExpertEUM,
};

//master
var REMasterDataset = {
	label: 'master',
	data: dataMasterRE,
};

var REMasterMDataset = {
	label: 'master m',
	data: dataMasterREM,
};

var EUMasterDataset = {
	label: 'master',
	data: dataMasterEU,
};

var EUMasterMDataset = {
	label: 'master m',
	data: dataMasterEUM,
};

var ULMasterDataset = {
	label: 'master',
	data: dataMasterUL,
};

var ULMasterMDataset = {
	label: 'master m',
	data: dataMasterULM,
};

const config = {
  type: 'bubble',
  data: data,
  options: {
	interaction: { mode: 'index' },
	onHover: function (e) {
	     const points = this.getElementsAtEventForMode(
	       e,
	       'index', { axis: 'x', intersect: true },
	       false
	     );

	     if (points.length) e.native.target.style.cursor = 'pointer';
	     else e.native.target.style.cursor = 'default';
   	},	//chart values in the one tooltip on hover
	
	  
	responsive: true,
	plugins: {
		legend: {
		        position: 'top',
		},
            	title: {
                	display: true,
                	text: 'Custom Chart Title'
            	}
	},
	scaleLabel: {
              display: true,
              padding: 5,
              fontColor: '#555759',
              fontSize: 10,
              fontStyle: 700,
              labelString: 'Genres'
	}
  }
};


var myChart = new Chart(
    document.getElementById('upChart'),
    config
  );
</script>
