<script>
//red
const redUL = d3.randomGeometric(0.003)
const redEU = d3.randomGeometric(0.018)
const redRE = d3.randomGeometric(0.060)

const redULM = d3.randomGeometric(0.006)
const redEUM = d3.randomGeometric(0.036)
const redREM = d3.randomGeometric(0.120)

//black
const blackUL = d3.randomGeometric(0.010)
const blackEU = d3.randomGeometric(0.035)
const blackRE = d3.randomGeometric(0.150)

const blackULM = d3.randomGeometric(0.020)
const blackEUM = d3.randomGeometric(0.070)
const blackREM = d3.randomGeometric(0.300)

//additional
const additionalUL = d3.randomGeometric(0.004975)
const additionalEU = d3.randomGeometric(0.019608)
const additionalRE = d3.randomGeometric(0.047619)

const additionalULM = d3.randomGeometric(0.009950)
const additionalEUM = d3.randomGeometric(0.039216)
const additionalREM = d3.randomGeometric(0.095238)

//questionable
const questionableRE = d3.randomGeometric(0.009901)

const questionableREM = d3.randomGeometric(0.019802)

//expert
const expertEU = d3.randomGeometric(0.011858)
const expertRE = d3.randomGeometric(0.047619)

const expertEUM = d3.randomGeometric(0.023716)
const expertREM = d3.randomGeometric(0.095238)

//master
const masterUL = d3.randomGeometric(0.001996)
const masterEU = d3.randomGeometric(0.016959)
const masterRE = d3.randomGeometric(0.079994)

const masterULM = d3.randomGeometric(0.003992)
const masterEUM = d3.randomGeometric(0.033918)
const masterREM = d3.randomGeometric(0.159988)

//6,1.8,0.3 red
//15,3.5,1 black
//4.7619,1.9608,0.4975 additional
//0.9901 questionable
//4.7619,1.1858 expert
//7.9994,1.6959,0.1996 master

//red
var dataRedUL = new Array(1000)
var dataRedEU = new Array(1000)
var dataRedRE = new Array(1000)

var dataRedULM = new Array(1000)
var dataRedEUM = new Array(1000)
var dataRedREM = new Array(1000)

//black
var dataBlackUL = new Array(1000)
var dataBlackEU = new Array(1000)
var dataBlackRE = new Array(1000)

var dataBlackULM = new Array(1000)
var dataBlackEUM = new Array(1000)
var dataBlackREM = new Array(1000)

//additional
var dataAdditionalUL = new Array(1000)
var dataAdditionalEU = new Array(1000)
var dataAdditionalRE = new Array(1000)

var dataAdditionalULM = new Array(1000)
var dataAdditionalEUM = new Array(1000)
var dataAdditionalREM = new Array(1000)

//questionable
var dataQuestionableRE = new Array(1000)

var dataQuestionableREM = new Array(1000)

//expert
var dataExpertEU = new Array(1000)
var dataExpertRE = new Array(1000)

var dataExpertEUM = new Array(1000)
var dataExpertREM = new Array(1000)

//master
var dataMasterUL = new Array(1000)
var dataMasterEU = new Array(1000)
var dataMasterRE = new Array(1000)

var dataMasterULM = new Array(1000)
var dataMasterEUM = new Array(1000)
var dataMasterREM = new Array(1000)



//red
var maxRedUL = 0
var maxRedEU = 0
var maxRedRE = 0

var maxRedULM = 0
var maxRedEUM = 0
var maxRedREM = 0

//black
var maxBlackUL = 0
var maxBlackEU = 0
var maxBlackRE = 0

var maxBlackULM = 0
var maxBlackEUM = 0
var maxBlackREM = 0

//additional
var maxAdditionalUL = 0
var maxAdditionalEU = 0
var maxAdditionalRE = 0

var maxAdditionalULM = 0
var maxAdditionalEUM = 0
var maxAdditionalREM = 0

//questionable
var maxQuestionableRE = 0

var maxQuestionableREM = 0

//expert
var maxExpertEU = 0
var maxExpertRE = 0

var maxExpertEUM = 0
var maxExpertREM = 0

//master
var maxMasterUL = 0
var maxMasterEU = 0
var maxMasterRE = 0

var maxMasterULM = 0
var maxMasterEUM = 0
var maxMasterREM = 0



//red
dataRedUL.fill(0)
dataRedEU.fill(0)
dataRedRE.fill(0)

dataRedULM.fill(0)
dataRedEUM.fill(0)
dataRedREM.fill(0)

//black
dataBlackUL.fill(0)
dataBlackEU.fill(0)
dataBlackRE.fill(0)

dataBlackULM.fill(0)
dataBlackEUM.fill(0)
dataBlackREM.fill(0)

//additional
dataAdditionalUL.fill(0)
dataAdditionalEU.fill(0)
dataAdditionalRE.fill(0)

dataAdditionalULM.fill(0)
dataAdditionalEUM.fill(0)
dataAdditionalREM.fill(0)

//questionable
dataQuestionableRE.fill(0)

dataQuestionableREM.fill(0)

//expert
dataExpertEU.fill(0)
dataExpertRE.fill(0)

dataExpertEUM.fill(0)
dataExpertREM.fill(0)

//master
dataMasterUL.fill(0)
dataMasterEU.fill(0)
dataMasterRE.fill(0)

dataMasterULM.fill(0)
dataMasterEUM.fill(0)
dataMasterREM.fill(0)


//red
var redULPreValue = dataRedUL[0]
var redEUPreValue = dataRedEU[0]
var redREPreValue = dataRedRE[0]

var redULMPreValue = dataRedULM[0]
var redEUMPreValue = dataRedEUM[0]
var redREMPreValue = dataRedREM[0]

//black
var blackULPreValue = dataBlackUL[0]
var blackEUPreValue = dataBlackEU[0]
var blackREPreValue = dataBlackRE[0]

var blackULMPreValue = dataBlackULM[0]
var blackEUMPreValue = dataBlackEUM[0]
var blackREMPreValue = dataBlackREM[0]

//additional
var additionalULPreValue = dataAdditionalUL[0]
var additionalEUPreValue = dataAdditionalEU[0]
var additionalREPreValue = dataAdditionalRE[0]

var additionalULMPreValue = dataAdditionalULM[0]
var additionalEUMPreValue = dataAdditionalEUM[0]
var additionalREMPreValue = dataAdditionalREM[0]

//questionable
var questionableREPreValue = dataQuestionableRE[0]

var questionableREMPreValue = dataQuestionableREM[0]

//expert
var expertEUPreValue = dataExpertEU[0]
var expertREPreValue = dataExpertRE[0]

var expertEUMPreValue = dataExpertEUM[0]
var expertREMPreValue = dataExpertREM[0]

//master
var masterULPreValue = dataMasterUL[0]
var masterEUPreValue = dataMasterEU[0]
var masterREPreValue = dataMasterRE[0]

var masterULMPreValue = dataMasterULM[0]
var masterEUMPreValue = dataMasterEUM[0]
var masterREMPreValue = dataMasterREM[0]



var AvRedUL=0,AvRedEU=0,AvRedRE=0
var AvRedULM=0,AvRedEUM=0,AvRedREM=0

var AvBlackUL=0,AvBlackEU=0,AvBlackRE=0
var AvBlackULM=0,AvBlackEUM=0,AvBlackREM=0

var AvAdditionalUL=0,AvAdditionalEU=0,AvAdditionalRE=0
var AvAdditionalULM=0,AvAdditionalEUM=0,AvAdditionalREM=0

var AvQuestionableRE=0
var AvQuestionableREM=0

var AvExpertEU=0,AvExpertRE=0
var AvExpertEUM=0,AvExpertREM=0

var AvMasterUL=0,AvMasterEU=0,AvMasterRE=0
var AvMasterULM=0,AvMasterEUM=0,AvMasterREM=0


for(var i = 0;i < 1000;i++){
	//red	
	var tmp = redUL();
	if(tmp < maxRedUL) maxRedUL = tmp;
	if(tmp > dataRedUL.length) dataRedUL[dataRedUL.length-1]++;
	else dataRedUL[tmp]++;
	AvRedUL += tmp;

	tmp = redEU();
	if(tmp < maxRedEU) maxRedEU = tmp;
	if(tmp > dataRedEU.length) dataRedEU[dataRedEU.length-1]++;
	else dataRedEU[tmp]++;
	AvRedEU += tmp;	

	tmp = redRE();
	if(tmp < maxRedRE) maxRedRE = tmp;
	if(tmp > dataRedRE.length) dataRedRE[dataRedRE.length-1]++;
	else dataRedRE[tmp]++;
	AvRedRE += tmp;

	//red miracle
	tmp = redULM();
	if(tmp < maxRedULM) maxRedULM = tmp;
	if(tmp > dataRedULM.length) dataRedULM[dataRedULM.length-1]++;
	else dataRedULM[tmp]++;
	AvRedULM += tmp;

	tmp = redEUM();
	if(tmp < maxRedEUM) maxRedEUM = tmp;
	if(tmp > dataRedEUM.length) dataRedEUM[dataRedEUM.length-1]++;
	else dataRedEUM[tmp]++;
	AvRedEUM += tmp;	

	tmp = redREM();
	if(tmp < maxRedREM) maxRedREM = tmp;
	if(tmp > dataRedREM.length) dataRedREM[dataRedREM.length-1]++;
	else dataRedREM[tmp]++;
	AvRedREM += tmp;

	//black	
	tmp = blackUL();
	if(tmp < maxBlackUL) maxBlackUL = tmp;
	if(tmp > dataBlackUL.length) dataBlackUL[dataBlackUL.length-1]++;
	else dataBlackUL[tmp]++;
	AvBlackUL += tmp;

	tmp = blackEU();
	if(tmp < maxBlackEU) maxBlackEU = tmp;
	if(tmp > dataBlackEU.length) dataBlackEU[dataBlackEU.length-1]++;
	else dataBlackEU[tmp]++;
	AvBlackEU += tmp;	

	tmp = blackRE();
	if(tmp < maxBlackRE) maxBlackRE = tmp;
	if(tmp > dataBlackRE.length) dataBlackRE[dataBlackRE.length-1]++;
	else dataBlackRE[tmp]++;
	AvBlackRE += tmp;

	//black miracle
	tmp = blackULM();
	if(tmp < maxBlackULM) maxBlackULM = tmp;
	if(tmp > dataBlackULM.length) dataBlackULM[dataBlackULM.length-1]++;
	else dataBlackULM[tmp]++;
	AvBlackULM += tmp;

	tmp = blackEUM();
	if(tmp < maxBlackEUM) maxBlackEUM = tmp;
	if(tmp > dataBlackEUM.length) dataBlackEUM[dataBlackEUM.length-1]++;
	else dataBlackEUM[tmp]++;
	AvBlackEUM += tmp;	

	tmp = blackREM();
	if(tmp < maxBlackREM) maxBlackREM = tmp;
	if(tmp > dataBlackREM.length) dataBlackREM[dataBlackREM.length-1]++;
	else dataBlackREM[tmp]++;
	AvBlackREM += tmp;

	//additional	
	tmp = additionalUL();
	if(tmp < maxAdditionalUL) maxAdditionalUL = tmp;
	if(tmp > dataAdditionalUL.length) dataAdditionalUL[dataAdditionalUL.length-1]++;
	else dataAdditionalUL[tmp]++;
	AvAdditionalUL += tmp;

	tmp = additionalEU();
	if(tmp < maxAdditionalEU) maxAdditionalEU = tmp;
	if(tmp > dataAdditionalEU.length) dataAdditionalEU[dataAdditionalEU.length-1]++;
	else dataAdditionalEU[tmp]++;
	AvAdditionalEU += tmp;	

	tmp = additionalRE();
	if(tmp < maxAdditionalRE) maxAdditionalRE = tmp;
	if(tmp > dataAdditionalRE.length) dataAdditionalRE[dataAdditionalRE.length-1]++;
	else dataAdditionalRE[tmp]++;
	AvAdditionalRE += tmp;
	
	//additional miracle
	tmp = additionalULM();
	if(tmp < maxAdditionalULM) maxAdditionalULM = tmp;
	if(tmp > dataAdditionalULM.length) dataAdditionalULM[dataAdditionalULM.length-1]++;
	else dataAdditionalULM[tmp]++;
	AvAdditionalULM += tmp;

	tmp = additionalEUM();
	if(tmp < maxAdditionalEUM) maxAdditionalEUM = tmp;
	if(tmp > dataAdditionalEUM.length) dataAdditionalEUM[dataAdditionalEUM.length-1]++;
	else dataAdditionalEUM[tmp]++;
	AvAdditionalEUM += tmp;	

	tmp = additionalREM();
	if(tmp < maxAdditionalREM) maxAdditionalREM = tmp;
	if(tmp > dataAdditionalREM.length) dataAdditionalREM[dataAdditionalREM.length-1]++;
	else dataAdditionalREM[tmp]++;
	AvAdditionalREM += tmp;

	//questionable	
	tmp = questionableRE();
	if(tmp < maxQuestionableRE) maxQuestionableRE = tmp;
	if(tmp > dataQuestionableRE.length) dataQuestionableRE[dataQuestionableRE.length-1]++;
	else dataQuestionableRE[tmp]++;
	AvQuestionableRE += tmp;

	//questionable miracle
	tmp = questionableREM();
	if(tmp < maxQuestionableREM) maxQuestionableREM = tmp;
	if(tmp > dataQuestionableREM.length) dataQuestionableREM[dataQuestionableREM.length-1]++;
	else dataQuestionableREM[tmp]++;
	AvQuestionableREM += tmp;

	//expert
	tmp = expertEU();
	if(tmp < maxExpertEU) maxExpertEU = tmp;
	if(tmp > dataExpertEU.length) dataExpertEU[dataExpertEU.length-1]++;
	else dataExpertEU[tmp]++;
	AvExpertEU += tmp;	

	tmp = expertRE();
	if(tmp < maxExpertRE) maxExpertRE = tmp;
	if(tmp > dataExpertRE.length) dataExpertRE[dataExpertRE.length-1]++;
	else dataExpertRE[tmp]++;
	AvExpertRE += tmp;

	//expert miracle
	tmp = expertEUM();
	if(tmp < maxExpertEUM) maxExpertEUM = tmp;
	if(tmp > dataExpertEUM.length) dataExpertEUM[dataExpertEUM.length-1]++;
	else dataExpertEUM[tmp]++;
	AvExpertEUM += tmp;	

	tmp = expertREM();
	if(tmp < maxExpertREM) maxExpertREM = tmp;
	if(tmp > dataExpertREM.length) dataExpertREM[dataExpertREM.length-1]++;
	else dataExpertREM[tmp]++;
	AvExpertREM += tmp;

	//master	
	var tmp = masterUL();
	if(tmp < maxMasterUL) maxMasterUL = tmp;
	if(tmp > dataMasterUL.length) dataMasterUL[dataMasterUL.length-1]++;
	else dataMasterUL[tmp]++;
	AvMasterUL += tmp;

	tmp = masterEU();
	if(tmp < maxMasterEU) maxMasterEU = tmp;
	if(tmp > dataMasterEU.length) dataMasterEU[dataMasterEU.length-1]++;
	else dataMasterEU[tmp]++;
	AvMasterEU += tmp;	

	tmp = masterRE();
	if(tmp < maxMasterRE) maxMasterRE = tmp;
	if(tmp > dataMasterRE.length) dataMasterRE[dataMasterRE.length-1]++;
	else dataMasterRE[tmp]++;
	AvMasterRE += tmp;

	//master miracle
	tmp = masterULM();
	if(tmp < maxMasterULM) maxMasterULM = tmp;
	if(tmp > dataMasterULM.length) dataMasterULM[dataMasterULM.length-1]++;
	else dataMasterULM[tmp]++;
	AvMasterULM += tmp;

	tmp = masterEUM();
	if(tmp < maxMasterEUM) maxMasterEUM = tmp;
	if(tmp > dataMasterEUM.length) dataMasterEUM[dataMasterEUM.length-1]++;
	else dataMasterEUM[tmp]++;
	AvMasterEUM += tmp;	

	tmp = masterREM();
	if(tmp < maxMasterREM) maxMasterREM = tmp;
	if(tmp > dataMasterREM.length) dataMasterREM[dataMasterREM.length-1]++;
	else dataMasterREM[tmp]++;
	AvMasterREM += tmp;

}

for(var i = 0;i < 1000;i++){
	//red
	if(dataRedUL[i+1] != 0){
		dataRedUL[i+1] = redULPreValue + dataRedUL[i+1];
		redULPreValue = dataRedUL[i+1];
	}
	else dataRedUL[i+1] = NaN;

	if(dataRedEU[i+1] != 0){
		dataRedEU[i+1] = redEUPreValue + dataRedEU[i+1];
		redEUPreValue = dataRedEU[i+1];
	}
	else dataRedEU[i+1] = NaN;

	if(dataRedRE[i+1] != 0){
		dataRedRE[i+1] = redREPreValue + dataRedRE[i+1];
		redREPreValue = dataRedRE[i+1];
	}
	else dataRedRE[i+1] = NaN;

	//red miracle
	if(dataRedULM[i+1] != 0){
		dataRedULM[i+1] = redULMPreValue + dataRedULM[i+1];
		redULMPreValue = dataRedULM[i+1];
	}
	else dataRedULM[i+1] = NaN;

	if(dataRedEUM[i+1] != 0){
		dataRedEUM[i+1] = redEUMPreValue + dataRedEUM[i+1];
		redEUMPreValue = dataRedEUM[i+1];
	}
	else dataRedEUM[i+1] = NaN;

	if(dataRedREM[i+1] != 0){
		dataRedREM[i+1] = redREMPreValue + dataRedREM[i+1];
		redREMPreValue = dataRedREM[i+1];
	}
	else dataRedREM[i+1] = NaN;

	//black
	if(dataBlackUL[i+1] != 0){
		dataBlackUL[i+1] = blackULPreValue + dataBlackUL[i+1];
		blackULPreValue = dataBlackUL[i+1];
	}
	else dataBlackUL[i+1] = NaN;

	if(dataBlackEU[i+1] != 0){
		dataBlackEU[i+1] = blackEUPreValue + dataBlackEU[i+1];
		blackEUPreValue = dataBlackEU[i+1];
	}
	else dataBlackEU[i+1] = NaN;

	if(dataBlackRE[i+1] != 0){
		dataBlackRE[i+1] = blackREPreValue + dataBlackRE[i+1];
		blackREPreValue = dataBlackRE[i+1];
	}
	else dataBlackRE[i+1] = NaN;

	//black miracle
	if(dataBlackULM[i+1] != 0){
		dataBlackULM[i+1] = blackULMPreValue + dataBlackULM[i+1];
		blackULMPreValue = dataBlackULM[i+1];
	}
	else dataBlackULM[i+1] = NaN;

	if(dataBlackEUM[i+1] != 0){
		dataBlackEUM[i+1] = blackEUMPreValue + dataBlackEUM[i+1];
		blackEUMPreValue = dataBlackEUM[i+1];
	}
	else dataBlackEUM[i+1] = NaN;

	if(dataBlackREM[i+1] != 0){
		dataBlackREM[i+1] = blackREMPreValue + dataBlackREM[i+1];
		blackREMPreValue = dataBlackREM[i+1];
	}
	else dataBlackREM[i+1] = NaN;

	//additional
	if(dataAdditionalUL[i+1] != 0){
		dataAdditionalUL[i+1] = additionalULPreValue + dataAdditionalUL[i+1];
		additionalULPreValue = dataAdditionalUL[i+1];
	}
	else dataAdditionalUL[i+1] = NaN;

	if(dataAdditionalEU[i+1] != 0){
		dataAdditionalEU[i+1] = additionalEUPreValue + dataAdditionalEU[i+1];
		additionalEUPreValue = dataAdditionalEU[i+1];
	}
	else dataAdditionalEU[i+1] = NaN;

	if(dataAdditionalRE[i+1] != 0){
		dataAdditionalRE[i+1] = additionalREPreValue + dataAdditionalRE[i+1];
		additionalREPreValue = dataAdditionalRE[i+1];
	}
	else dataAdditionalRE[i+1] = NaN;

	//additional miracle
	if(dataAdditionalULM[i+1] != 0){
		dataAdditionalULM[i+1] = additionalULMPreValue + dataAdditionalULM[i+1];
		additionalULMPreValue = dataAdditionalULM[i+1];
	}
	else dataAdditionalULM[i+1] = NaN;

	if(dataAdditionalEUM[i+1] != 0){
		dataAdditionalEUM[i+1] = additionalEUMPreValue + dataAdditionalEUM[i+1];
		additionalEUMPreValue = dataAdditionalEUM[i+1];
	}
	else dataAdditionalEUM[i+1] = NaN;

	if(dataAdditionalREM[i+1] != 0){
		dataAdditionalREM[i+1] = additionalREMPreValue + dataAdditionalREM[i+1];
		additionalREMPreValue = dataAdditionalREM[i+1];
	}
	else dataAdditionalREM[i+1] = NaN;

	//questionable
	if(dataQuestionableRE[i+1] != 0){
		dataQuestionableRE[i+1] = questionableREPreValue + dataQuestionableRE[i+1];
		questionableREPreValue = dataQuestionableRE[i+1];
	}
	else dataQuestionableRE[i+1] = NaN;

	//questionable miracle
	if(dataQuestionableREM[i+1] != 0){
		dataQuestionableREM[i+1] = questionableREMPreValue + dataQuestionableREM[i+1];
		questionableREMPreValue = dataQuestionableREM[i+1];
	}
	else dataQuestionableREM[i+1] = NaN;

	//expert
	if(dataExpertEU[i+1] != 0){
		dataExpertEU[i+1] = expertEUPreValue + dataExpertEU[i+1];
		expertEUPreValue = dataExpertEU[i+1];
	}
	else dataExpertEU[i+1] = NaN;

	if(dataExpertRE[i+1] != 0){
		dataExpertRE[i+1] = expertREPreValue + dataExpertRE[i+1];
		expertREPreValue = dataExpertRE[i+1];
	}
	else dataExpertRE[i+1] = NaN;

	//expert miracle
	if(dataExpertEUM[i+1] != 0){
		dataExpertEUM[i+1] = expertEUMPreValue + dataExpertEUM[i+1];
		expertEUMPreValue = dataExpertEUM[i+1];
	}
	else dataExpertEUM[i+1] = NaN;

	if(dataExpertREM[i+1] != 0){
		dataExpertREM[i+1] = expertREMPreValue + dataExpertREM[i+1];
		expertREMPreValue = dataExpertREM[i+1];
	}
	else dataExpertREM[i+1] = NaN;

	//master
	if(dataMasterUL[i+1] != 0){
		dataMasterUL[i+1] = masterULPreValue + dataMasterUL[i+1];
		masterULPreValue = dataMasterUL[i+1];
	}
	else dataMasterUL[i+1] = NaN;

	if(dataMasterEU[i+1] != 0){
		dataMasterEU[i+1] = masterEUPreValue + dataMasterEU[i+1];
		masterEUPreValue = dataMasterEU[i+1];
	}
	else dataMasterEU[i+1] = NaN;

	if(dataMasterRE[i+1] != 0){
		dataMasterRE[i+1] = masterREPreValue + dataMasterRE[i+1];
		masterREPreValue = dataMasterRE[i+1];
	}
	else dataMasterRE[i+1] = NaN;

	//master miracle
	if(dataMasterULM[i+1] != 0){
		dataMasterULM[i+1] = masterULMPreValue + dataMasterULM[i+1];
		masterULMPreValue = dataMasterULM[i+1];
	}
	else dataMasterULM[i+1] = NaN;

	if(dataMasterEUM[i+1] != 0){
		dataMasterEUM[i+1] = masterEUMPreValue + dataMasterEUM[i+1];
		masterEUMPreValue = dataMasterEUM[i+1];
	}
	else dataMasterEUM[i+1] = NaN;

	if(dataMasterREM[i+1] != 0){
		dataMasterREM[i+1] = masterREMPreValue + dataMasterREM[i+1];
		masterREMPreValue = dataMasterREM[i+1];
	}
	else dataMasterREM[i+1] = NaN;
		
}

//red
while(isNaN(dataRedUL[dataRedUL.length-1])) dataRedUL.pop();
while(isNaN(dataRedEU[dataRedEU.length-1])) dataRedEU.pop();
while(isNaN(dataRedRE[dataRedRE.length-1])) dataRedRE.pop();

//red miracle
while(isNaN(dataRedULM[dataRedULM.length-1])) dataRedULM.pop();
while(isNaN(dataRedEUM[dataRedEUM.length-1])) dataRedEUM.pop();
while(isNaN(dataRedREM[dataRedREM.length-1])) dataRedREM.pop();

//black
while(isNaN(dataBlackUL[dataBlackUL.length-1])) dataBlackUL.pop();
while(isNaN(dataBlackEU[dataBlackEU.length-1])) dataBlackEU.pop();
while(isNaN(dataBlackRE[dataBlackRE.length-1])) dataBlackRE.pop();

//black miracle
while(isNaN(dataBlackULM[dataBlackULM.length-1])) dataBlackULM.pop();
while(isNaN(dataBlackEUM[dataBlackEUM.length-1])) dataBlackEUM.pop();
while(isNaN(dataBlackREM[dataBlackREM.length-1])) dataBlackREM.pop();

//additional
while(isNaN(dataAdditionalUL[dataAdditionalUL.length-1])) dataAdditionalUL.pop();
while(isNaN(dataAdditionalEU[dataAdditionalEU.length-1])) dataAdditionalEU.pop();
while(isNaN(dataAdditionalRE[dataAdditionalRE.length-1])) dataAdditionalRE.pop();

//additional miracle
while(isNaN(dataAdditionalULM[dataAdditionalULM.length-1])) dataAdditionalULM.pop();
while(isNaN(dataAdditionalEUM[dataAdditionalEUM.length-1])) dataAdditionalEUM.pop();
while(isNaN(dataAdditionalREM[dataAdditionalREM.length-1])) dataAdditionalREM.pop();

//questionable
while(isNaN(dataQuestionableRE[dataQuestionableRE.length-1])) dataQuestionableRE.pop();

//questionable miracle
while(isNaN(dataQuestionableREM[dataQuestionableREM.length-1])) dataQuestionableREM.pop();

//expert
while(isNaN(dataExpertEU[dataExpertEU.length-1])) dataExpertEU.pop();
while(isNaN(dataExpertRE[dataExpertRE.length-1])) dataExpertRE.pop();

//expert miracle
while(isNaN(dataExpertEUM[dataExpertEUM.length-1])) dataExpertEUM.pop();
while(isNaN(dataExpertREM[dataExpertREM.length-1])) dataExpertREM.pop();


//master
while(isNaN(dataMasterUL[dataMasterUL.length-1])) dataMasterUL.pop();
while(isNaN(dataMasterEU[dataMasterEU.length-1])) dataMasterEU.pop();
while(isNaN(dataMasterRE[dataMasterRE.length-1])) dataMasterRE.pop();

//master miracle
while(isNaN(dataMasterULM[dataMasterULM.length-1])) dataMasterULM.pop();
while(isNaN(dataMasterEUM[dataMasterEUM.length-1])) dataMasterEUM.pop();
while(isNaN(dataMasterREM[dataMasterREM.length-1])) dataMasterREM.pop();

console.log(AvRedRE/1000);
console.log(AvRedEU/1000);
console.log(AvRedUL/1000);
console.log(AvRedREM/1000);
console.log(AvRedEUM/1000);
console.log(AvRedULM/1000);


console.log("black");
console.log(AvBlackRE/1000);
console.log(AvBlackEU/1000);
console.log(AvBlackUL/1000);
console.log(AvBlackREM/1000);
console.log(AvBlackEUM/1000);
console.log(AvBlackULM/1000);


</script>
