<div id='masterpieceCard'>
	<!-- cards -->
	<div class='masterpieceBox'>
		<div class='masterpiece'>
			<div class='masterpieceName'>로얄스타일</div>
			<div class='iconBx'>
				<div class='loyalstyle'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 레드 모자</div>
			<div class='iconBx'>
				<div class='redHat'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 레드 옷</div>
			<div class='iconBx'>
				<div class='redClothes'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 레드 망토/장갑</div>
			<div class='iconBx'>
				<div class='redCloakGloves'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 레드 신발</div>
			<div class='iconBx'>
				<div class='redShoes'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 레드 무기</div>
			<div class='iconBx'>
				<div class='redWeapon'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 블랙 모자</div>
			<div class='iconBx'>
				<div class='blackHat'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 블랙 옷</div>
			<div class='iconBx'>
				<div class='blackClothes'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 블랙 망토/장갑</div>
			<div class='iconBx'>
				<div class='blackCloakGloves'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 블랙 신발</div>
			<div class='iconBx'>
				<div class='blackShoes'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
		<div class='masterpiece'>
			<div class='masterpieceName'>마스터피스 블랙 무기</div>
			<div class='iconBx'>
				<div class='blackWeapon'>
					<ion-icon name='diamond-outline'></ion-icon>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='cardAdsense'>
{% include cardAdsense.html %}
</div>

<div class='loyalStyleContainer' style='display:block;'>
	{% include masterpiece/loyalStyle.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceRedHatContainer' style='display:none;'>
	{% include masterpiece/masterpieceRedHat.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceRedClothesContainer' style='display:none;'>
	{% include masterpiece/masterpieceRedClothes.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceRedCloakGlovesContainer' style='display:none;'>
	{% include masterpiece/masterpieceRedCloakGloves.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceRedShoesContainer' style='display:none;'>
	{% include masterpiece/masterpieceRedShoes.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceRedWeaponContainer' style='display:none;'>
	{% include masterpiece/masterpieceRedWeapon.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceBlackHatContainer' style='display:none;'>
	{% include masterpiece/masterpieceBlackHat.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceBlackClothesContainer' style='display:none;'>
	{% include masterpiece/masterpieceBlackClothes.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceBlackCloakGlovesContainer' style='display:none;'>
	{% include masterpiece/masterpieceBlackCloakGloves.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceBlackShoesContainer' style='display:none;'>
	{% include masterpiece/masterpieceBlackShoes.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>
<div class='masterpieceBlackWeaponContainer' style='display:none;'>
	{% include masterpiece/masterpieceBlackWeapon.html %}
	<div class='cardAdsenseFooter'>
	{% include cardAdsenseFooter.html %}
	</div>
</div>

<script>
	//masterpiece toggle
	var masterpiecelist = document.querySelectorAll('.masterpieceBox .masterpiece');

	var loyalStyleContainer = document.querySelector('.loyalStyleContainer');
	var masterpieceRedHatContainer = document.querySelector('.masterpieceRedHatContainer');
	var masterpieceRedClothesContainer = document.querySelector('.masterpieceRedClothesContainer');
	var masterpieceRedCloakGlovesContainer = document.querySelector('.masterpieceRedCloakGlovesContainer');
	var masterpieceRedShoesContainer = document.querySelector('.masterpieceRedShoesContainer');
	var masterpieceRedWeaponContainer = document.querySelector('.masterpieceRedWeaponContainer');

	var masterpieceBlackHatContainer = document.querySelector('.masterpieceBlackHatContainer');
	var masterpieceBlackClothesContainer = document.querySelector('.masterpieceBlackClothesContainer');
	var masterpieceBlackCloakGlovesContainer = document.querySelector('.masterpieceBlackCloakGlovesContainer');
	var masterpieceBlackShoesContainer = document.querySelector('.masterpieceBlackShoesContainer');
	var masterpieceBlackWeaponContainer = document.querySelector('.masterpieceBlackWeaponContainer');
	
	function masterpieceDisplayNoneFunction(){
		loyalStyleContainer.style.display = 'none'; 
		masterpieceRedHatContainer.style.display = 'none';
		masterpieceRedClothesContainer.style.display = 'none';
		masterpieceRedCloakGlovesContainer.style.display = 'none';
		masterpieceRedShoesContainer.style.display = 'none';
		masterpieceRedWeaponContainer.style.display = 'none';
 
		masterpieceBlackHatContainer.style.display = 'none';
		masterpieceBlackClothesContainer.style.display = 'none';
		masterpieceBlackCloakGlovesContainer.style.display = 'none';
		masterpieceBlackShoesContainer.style.display = 'none';
		masterpieceBlackWeaponContainer.style.display = 'none';
	}

	masterpiecelist[0].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		loyalStyleContainer.style.display = 'block';
	});
	masterpiecelist[1].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceRedHatContainer.style.display = 'block';
	});
	masterpiecelist[2].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceRedClothesContainer.style.display = 'block';
	});
	masterpiecelist[3].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceRedCloakGlovesContainer.style.display = 'block';
	});
	masterpiecelist[4].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceRedShoesContainer.style.display = 'block';
	});
	masterpiecelist[5].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceRedWeaponContainer.style.display = 'block';
	});
	masterpiecelist[6].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceBlackHatContainer.style.display = 'block';
	});
	masterpiecelist[7].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceBlackClothesContainer.style.display = 'block';
	});
	masterpiecelist[8].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceBlackCloakGlovesContainer.style.display = 'block';
	});
	masterpiecelist[9].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceBlackShoesContainer.style.display = 'block';
	});
	masterpiecelist[10].addEventListener('click',function(){
		masterpieceDisplayNoneFunction();
		masterpieceBlackWeaponContainer.style.display = 'block';
	});

</script>



























