var starforce1Title = document.querySelector('#starforce1 .details .data .header h2');

starforce1Title.innerText = sq_bul[13].textContent.substring(1,sq_bul[13].textContent.length-1)+'\n'+
					subTitle1[5].textContent+'\n'+
					subTitle2[5].textContent;


var starforce1Thead1 = document.querySelector('#starforce1 .details .data table thead');
var starforce1Thead2 = type4[4].querySelector('thead');

starforce1Thead1.innerHTML = starforce1Thead2.innerHTML;

var starforce1Tbody1 = document.querySelector('#starforce1 .details .data table tbody');
var starforce1Tbody2 = type4[4].querySelector('tbody');

starforce1Tbody1.innerHTML = starforce1Tbody2.innerHTML;


