var starforce2Title = document.querySelector('#starforce2 .details .data .header h2');

starforce2Title.innerText = sq_bul[13].textContent.substring(1,sq_bul[13].textContent.length-1)+'\n'+
					subTitle1[5].textContent+'\n'+
					subTitle2[5].textContent;


var starforce2Thead1 = document.querySelector('#starforce2 .details .data table thead');
var starforce2Thead2 = type4[5].querySelector('thead');

starforce2Thead1.innerHTML = starforce2Thead2.innerHTML;

var starforce2Tbody1 = document.querySelector('#starforce2 .details .data table tbody');
var starforce2Tbody2 = type4[5].querySelector('tbody');

starforce2Tbody1.innerHTML = starforce2Tbody2.innerHTML;


