function beautyManFaceCommentFunction(){
	var beautyManFaceComment = document.querySelectorAll('#beautyManFace .details .data .comment');
	var beautyManFaceCost = 3500;

	var beautyManFaceCommentLength = beautyManFaceComment.length;
	for(var i = 0;i < beautyManFaceCommentLength;i++){
		var beautyManFaceName = beautyManFaceTbody1[i].querySelectorAll('tr td')[0].innerText;
		beautyManFaceName = beautyManFaceName.replace(/(\r\n|\n|\r)/gm,'');

		beautyManFaceComment[i].innerText =
		'- 위 목표 달성 '+arrayLength+'번을 자체 시뮬레이션 한 결과를 바탕으로 도출한 결과값 입니다.'+'\n'+
		'- 시뮬레이션 할 때마다 값이 달라집니다.'+'\n'+
		'- 로얄 성형 비용은 '+beautyManFaceCost.toLocaleString()+'원으로 계산했습니다.'+'\n'+
		'- 위 확률은 메이플스토리 공식 홈페이지에서 가져왔습니다.'+'\n'+'\n'+

		beautyManFaceName+' 설정 확률 평균 값 : '+beautyManFaceAV[i]+'개'+'\n'+
		beautyManFaceName+' 실제 확률 평균 값 : '+beautyManFacerealAV[i]+'개'+'\n'+'\n'+

		beautyManFaceName+' 설정 확률 중간 값 : '+databeautyManFace[i][(arrayLength/2)-1]+'개'+'\n'+
		beautyManFaceName+' 실제 확률 중간 값 : '+databeautyManFacereal[i][(arrayLength/2)-1]+'개'+'\n'+'\n'+

		beautyManFaceName+' 설정 확률 상위 20% 값 : '+databeautyManFace[i][((arrayLength/10)*2)-1]+'개'+'\n'+
		beautyManFaceName+' 실제 확률 상위 20% 값 : '+databeautyManFacereal[i][((arrayLength/10)*2)-1]+'개'+'\n'+'\n'+

		beautyManFaceName+' 설정 확률 상위 80% 값 : '+databeautyManFace[i][((arrayLength/10)*8)-1]+'개'+'\n'+
		beautyManFaceName+' 실제 확률 상위 80% 값 : '+databeautyManFacereal[i][((arrayLength/10)*8)-1]+'개'+'\n'+'\n'+

		beautyManFaceName+' 설정 확률 평균 비용 : '+(beautyManFaceAV[i]*beautyManFaceCost).toLocaleString()+'원'+'\n'+
		beautyManFaceName+' 실제 확률 평균 비용 : '+(beautyManFacerealAV[i]*beautyManFaceCost).toLocaleString()+'원'+'\n'+'\n'
		;

	}
}
