<div id='expertcube'>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
			<canvas class='expertCubeChart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
	<div class='details'>
		<div class='data'>
			<div class='header'>
				<h2></h2>
			</div>
			<table>
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
			<canvas class='expertCubeChart'></canvas>
			<div class='comment'></div>
		</div>
	</div>
</div>

